<%- include('partials/header') %>

<div class="jumbotron">
    <h1 class="display-4"> Quizzy </h1>
    <p class="lead"> A Simple Quizzing Platform </p>
</div>

<div class="row" style="background-color: #d2d3c9; display: flex; align-items: center;">
    <div class="col-lg-6 my-5">
        <div>
            <h3>Color Values of Buttons</h3>
            <br>
            <label for="nv">Not Visited : </label>
            <button class="btn btn-primary" name="nv">Not Visited</button>
            <br>
            <label for="vi">Visited : </label>
            <button class="btn btn-success" name="vi">Visited</button>
            <br>
            <label for="mk">Marked For Review : </label>
            <button class="btn btn-warning" name="mk">Marked For Review </button>
            <br>
        </div>
        <br>
    </div>
    <div class="col-lg-6 my-5">

        <div class="card">
            <div class="card-header">LOGIN</div>
            <div class="card-body">

                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="name">
                            <h4>Student Name </h4>
                        </label>
                        <input type="text" name="name" placeholder="Akshay kumar" class="form-control"
                            style="width: 300px" required>
                        <br>
                        <label for="passowrd">
                            <h4>Email</h4>
                        </label>
                        <input type="email" name="email" placeholder="khiladi786@email.com" class="form-control"
                            style="width: 300px" required>
                    </div>
            </div>
            <div class="card-footer">
                <button type="submit" name="btn1" class="btn btn-lg btn-primary rounded shadow homeBtn"> Start </button>
                </form>
            </div>
            <br>
        </div>

    </div>

</div>




<%- include('partials/footer') %>