<%- include('partials/header') %>

<div>
    <form action="/maker1" method="post">
        <label for="no">Sr. No. </label>
        <input name="no" type="text">
        <br>
        <label for="title">Enter Question</label>
        <input name="title" type="text">
        <br>
        <label for="A">A) </label>
        <input id="A" type="checkbox">
        <input name="At" type="text">
        <br>
        <label for="B">B) </label>
        <input id="B" type="checkbox">
        <input name="Bt" type="text">
        <br>
        <label for="C">C) </label>
        <input id="C" type="checkbox">
        <input name="Ct" type="text">
        <br>
        <input name="Bool" id="Bool" type="hidden">
        <button type="submit" id="MakerBtn" class="btn btn-primary">Submit</button>
    </form>
</div>
<script>
    document.getElementById("MakerBtn").addEventListener("click", function () {
        var arr = []
        var arr1 = document.querySelectorAll("input[type=checkbox]:checked")
        console.log(arr1);
        arr1.forEach(element => {
            arr.push(element.id)
        })
        console.log(arr);
        document.querySelector("#Bool").value = arr
    })
</script>

<%- include('partials/footer') %>