<%- include('partials/header') %>

<div>
    <h2>Student ID : <%= data.Name %> </h2>
    <%for( i in list){%>
    <p> <%= list[i] %> </p>
    <%}%>
    
</div>

<%- include('partials/footer') %>