body {
    text-align: center;
}

input[type="checkbox"] {
    width: 3rem;
}

#heading {
    text-align: left;
    padding: 5px 20px;
    overflow: scroll;
    height: 220px;
    color: #1a1a2e;
    border-radius: 25px;
}

input[type="checkbox"]:checked::before {
    content: '\2713';
    background-color: mediumseagreen;
    box-shadow: 8px green;
    width: 20px;
}

/* DEMO PAGE */
.cust {
    display: block;
    width: 50%;
    height: 50px;
    margin: 10px auto;
    border-radius: 35px;
}

h2,
h3 {
    display: inline;
}

.ans-area {
    border-radius: 35px;
    height: 600px;
    padding: 30px;
    width: 100%;
    background-color: #e8e8e8;
}

.options {
    text-align: left;
    display: block;
    padding: 15px 10px;
    margin: 10px auto;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: 0 0 8px 0 black;
    background-color: #f6f6f6;

}

.nav {
    display: inline-block;
    width: 160px;
    border-radius: 35px;
    margin: 10px auto;
}

.conatiner1 {
    display: flex;
    flex-flow: row wrap;
}

.Any {
    margin: 10px 10px;
    width: 80px;
    height: 30px;
    display: block;
}

form {
    display: inline-block;
    padding: 20px 30px;
    margin: 10px auto;
    text-align: center;
}

.btn {
    transition: .4s;
    padding: 5px;
    margin: 5px;
}

/* HOME PAGE */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');

.jumbotron {
    background: rgb(4, 137, 245);
    background: radial-gradient(circle, rgba(4, 137, 245, 0.9976365546218487) 23%, rgba(50, 79, 80, 1) 80%, rgba(7, 22, 25, 1) 100%);
    font-family: 'Roboto Mono', monospace;
}

.homeBtn {
    display: block;
    margin: 10px auto;
}

.card-footer {
    justify-content: center;
    background-color: #43658b;
}

.card-header {
    background-color: #81b214;
    font-size: 1.3rem;
    color: black;
}

.card {
    background-color: #e8ded2;
    align-content: center;
}

input[type="text"] {
    box-sizing: border-box;
    border-radius: 25px;
    padding: 5px 7px;
    margin: 10px 20px;
    transition: .4s
}

input[type="text"]:focus {
    display: inline;
    border-width: 0;
    border-bottom: 5px solid purple;


}

hr {
    border-width: 0 0 8px 0;
    border-style: dotted;
    width: 70%;
    border-color: green;
}

/* DISPLAY PAGE */
.options1 {
    display: flex;
    text-align: left;
    padding: 15px 10px;
    margin: 10px auto;
    border: 1px solid;
    box-sizing: border-box;
    border-radius: 25px;
    box-shadow: 0 0 8px 0 black;
    flex-flow: row wrap;
    transition: .4s;
}

.Bool {
    position: absolute;
    right: 50px;
}

.footer {
    height: 100px;
    display: grid;
    place-items: center;
    background-color: #686d76;
    color: #ffffff;
    margin: 20px auto 0 auto;
}